.sessao2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: 1024px){
        flex-direction: row;
    }
}

.texto{
    padding: 20px;
    order: 2;


    @media screen and (min-width: 1024px){
        width: 35%;
        height: 100%;
        order: 1;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 150px;
    }
}

.texto h1{
    font-size: 70px;
    font-weight: 600;

    @media screen and (max-width: 1200px) {
        font-size: 35px;
        display: none;
    }
}

.texto p{
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    text-align: left;

    @media screen and (max-width: 1024px) {
        font-size: 16px;
        text-align: justify;
    }
}

.texto button{
    margin-top: 20px;
}


.imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;

    @media screen and (min-width: 1024px){
        width: 65%;
        height: 100%;
        order: 2;
        flex-direction: row;
    }
}

.imagem > img{
    width: 100%;
    padding-left: 27px;
    max-width: 900px;

    @media screen and (min-width: 768px){
        padding-left: 30px;
        padding-top: 0px;
    }
}

.titulo_mobile{
    padding-left: 20px;
    align-self:flex-start;
    text-align: left;
    
    @media screen and (min-width:1024px) {
        display: none;
    }
}