.sessao1{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;

    @media screen and (min-width:1200px){
        padding: 30px;
        height: 70vh;
    }
}

.banner_sessao1{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/landing-page.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap:25px;

    flex: 1 1 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    @media screen and (min-width: 1200px){
        padding: 180px 150px;
        flex-wrap: nowrap;
        border-radius: 30px;
        justify-content: space-between;
    }
}

.texto_inicial{

    text-align: center;

    @media screen and (min-width: 1200px){
        text-align: left;
    }
}

.banner_sessao1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 0;
    border-radius: inherit;
}

.banner_sessao1 > * {
    position: relative;
    z-index: 1;
}

.banner_sessao1 > img{  
    width: 100%;
    height: 100%;    
}

.caixa1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    @media screen and (min-width:1200px){
        margin-top: 0px;
    }
}

.caixa1 div {
    width: 70%;

    @media screen and (min-width:1200px){
        width: 80%;
    }
}

.caixa1 h1{
    font-size: 36px;
    margin-bottom: 0;
    color: white;

    @media screen and (min-width:1200px){
        font-size: 3rem;
    }
}

.caixa1 p{
    color: white;

}

.caixa1 h1 span{
    font-size: 36px;
    margin-bottom: 0;
    color: #E6A61A;

    @media screen and (min-width:1200px){
        font-size: 3rem;
    }
}

.caixa2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caixa2 h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 85%;

    @media screen and (min-width:1200px){
        font-size: 30px;
    }
}

.caixa2 ol{
    padding-inline-start: 20px;

}

.caixa2 h2 span{
    color: #E6A61A;
    font-size: 20px;
    font-weight: 600;

    
    @media screen and (min-width:1200px){
        font-size: 30px;
    }
}

.caixa2 li{
    color: white;
    padding: 0;
    margin: 10px 0;
    font-size: 16px;

    @media screen and (min-width:1024px){
        font-size: 20px;
    }

}


.glass{
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(56, 65, 67, 0.63);
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    border-width: 1px;
    border-style: solid;
    border-radius: 38px;
    border-color: #E6A61A;

    @media screen and (min-width:1024px){
        padding: 30px 50px;
        min-width: 600px;
        max-width: 600px;
    }
}

